*
!app/
!bootstrap/
!config/
!database/
!public/
!resources/
!routes/
!storage/
!artisan
!composer.json
!composer.lock
!.env.example

node_modules/
vendor/
.git/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
