includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/Models
        - app/Shared
        - app/Modules
        - app/Providers

    level: 5

    ignoreErrors:
        # Laravel magic methods — expected PHPStan can't resolve these
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property App\\Models\\User::#'

    excludePaths:
        - vendor/
        - storage/

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
