includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/Models
        - app/Shared
        - app/Modules
        - app/Providers

    level: 5

    excludePaths:
        - vendor/
        - storage/

